@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

body {
  font-family: Pixelify Sans;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 37, 57);
  position: sticky;
}

.navTitle {
  font-size: 2rem;
  margin: 1rem;
  text-decoration: none; /*remove underline */
  color: white;
}

.navOptions {
  display: flex;
}

.navOptions li {
  list-style: none;
}

.navOptions li a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
}
